<!DOCTYPE html>
<html>
  <head>
    <title>Zoom</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div id="main">

      <div id="hero">
        <nav>
          <div class="logo">
            <h3>logo</h3>
          </div>
          <div class="navitems">
            <a href="">Home</a>
            <a href="">About</a>
           <a href="/loginpage"> <button>Login</button></a>
           
          </div>
        </nav>
          <div class="heading">
            <h1 class="row1 text">SWTCH IS HERE</h1>
            <h1 class="row2 text">EVERY STEP</h1>
            <h1 class="row3 text">OF THE WAY</h1>
          </div>
          <div class="textholder">

            <div class="sometext">
              <p>From system design and incentives, to installation and on-going management and support - <span>SWTCH</span> and our network of installation partners are here to support your EV charger system at every step of the way.</p>
            </div>
           <a href="/loginpage"> <button>Let's Talk</button></a>
          </div>
      </div>
      <div id="page1">

      </div>
   </div>


   <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="/javascripts/script.js"></script>
  </body>
</html>
