<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    
    
    <div id="main">
        <!DOCTYPE html>
       
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title> Responsive Login and Signup Form </title>
        
                <!-- CSS -->
                <link rel="stylesheet" href="css/style.css">
                        
                <!-- Boxicons CSS -->
                <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                                
            </head>
            <body>
                <nav>
                    <div class="logo">
                      <h3>logo</h3>
                    </div>
                    <div class="navitems">
                      <a href="/home">Home</a>
                      <a href="">About</a>
                    </div>
                  </nav>
                <section class="container forms">
                 
                    <div class="form login">
                        <div class="form-content">
                            <header>Login</header>
                            <form action="/login" method="post">
                                <div class="field input-field">
                                    <input type="email" placeholder="Email" class="input" name="username">
                                </div>
        
                                <div class="field input-field">
                                    <input type="password" placeholder="Password" class="password" name="password">
                                    <i class='bx bx-hide eye-icon'></i>
                                </div>
        
                                <div class="form-link">
                                    <a href="#" class="forgot-pass">Forgot password?</a>
                                </div>
        
                                <div class="field button-field">
                                    <button>Login</button>
                                </div>
                            </form>
        
                            <div class="form-link">
                                <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                            </div>
                        </div>
        
                        <div class="line"></div>
        
                   
        
                        <div class="media-options">
                            <a href="#" class="field google">
                                <img src="#" alt="" class="google-img">
                                <span>Login with Google</span>
                            </a>
                        </div>
        
                    </div>
        
                    <!-- Signup Form -->
        
                    <div class="form signup">
                        <div class="form-content">
                            <header>Signup</header>
                            <form action="/register"  method="post">
                                <div class="field input-field">
                                    <input type="text" placeholder="Full Name" class="input" name="name">
                                </div>
                                <div class="field input-field">
                                    <input type="email" placeholder="Email" class="input" name="username">
                                </div>
        
                                <div class="field input-field">
                                    <input id="password" type="password" placeholder="Create password" class="password" name="password">
                                </div>
        
                                <div class="field input-field">
                                    <input id="confirmPassword" type="password" placeholder="Confirm password" class="password" name="confirmPassword">
                                    <i class='bx bx-hide eye-icon'></i>
                                </div>
        
                                <div class="field button-field">
                                    <button>Signup</button>
                                </div>
                            </form>
        
                            <div class="form-link">
                                <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                            </div>
                        </div>
        
                        <div class="line"></div>
        
                       
        
                        <div class="media-options">
                            <a href="#" class="field google">
                                <img src="#" alt="" class="google-img">
                                <span>Login with Google</span>
                            </a>
                        </div>
        
                    </div>
                </section>
        
                <!-- JavaScript -->
                <script src="/javascripts/loginjs.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            </body>
        </html>
    </div>
<script>
    
</script>
</body>
</html>